<div class="jumbotron">
    <h1>Swinny Vet Challenge</h1>
</div>
<div>
    <p><a class="btn-default" href="~/Owners/">Click here to view owners</a></p>
    <p><a class="btn-default" href="~/Pets/">Click here to view pets</a></p>
    <p><a class="btn-default" href="~/Procedures/">Click here to view procedures</a></p>
    <p><a class="btn-default" href="~/Treatments/">Click here to view treatment</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
</div>
